@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap');

button {
  margin: 15px;
  padding: 15px;
  background: linear-gradient(90deg, #fec303 0%, #f70b91 100%);
  width: 267px;
  height: 60px;
  font-family: 'Bruno Ace SC';
  font-size: 20px;
  font-weight: 400;
  color: white;
  border: none;
  // border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: scale(1.05);
  }

  &.inverted {
    background: transparent;
    border: 2px solid;
    border-image: linear-gradient(to right, #fec303, #f70b91) 2;
  }
}

a {
  text-decoration: none;
}

.wrapper {
  background: url('../assets/images/bg1.jpg'), #170034;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 500px;
  color: white;
  display: flex;
  justify-content: center;
  overflow: hidden;

  &.secondary {
    background: #170034;
  }

  .container {
    width: 80%;
    height: 100vh;
    display: flex;
    margin-top: 30px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .list_block {
      width: 100%;
      height: 80px;
      border-bottom: 1px solid #c6c6c6;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .left_panel {
        p {
          color: white;
          font-family: 'Bruno Ace SC';
          font-weight: 400;
          font-size: 24px;
          margin: 0;
        }
      }

      .right_panel {
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
          font-family: 'Bruno Ace SC';
          font-weight: 400;
          font-size: 16px;
          color: #c6c6c6;
          margin: 0 10px;
        }

        button {
          width: 130px;
          height: 43px;
          padding: 0;
        }
      }
    }

    .camera {
      width: 600px;
      height: 400px;
      background: #4a4a4a;
      border-radius: 40px;
    }

    nav {
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        font-family: 'Bruno Ace SC';
        font-weight: 400;
        font-size: 36px;
        line-height: 43px;
        background: linear-gradient(90deg, #fec303 0%, #f70b91 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    .buttons {
      margin-left: -15px;
    }

    h1 {
      font-size: 96px;
      font-family: 'Bruno Ace SC';
      margin-bottom: 20px;
      margin-top: 100px;
      line-height: 116px;
      letter-spacing: 2px;
    }

    h2 {
      width: 60%;
      font-family: 'Bruno Ace SC', 'Montserrat';
      font-weight: 400;
      font-size: 24px;
      color: #c6c6c6;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: #170034;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    color: white;

    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        margin: 0;
        color: white;
      }

      .modal-close {
        cursor: pointer;
        font-size: 24px;
      }
    }

    .modal-status {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 24px;
        margin: 5px;
        color: #c6c6c6;
        font-family: 'Bruno Ace SC';
      }
    }
  }
}
